.contact {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding-top: 5em;
    padding-bottom: 5em;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}

.contact-section {
    background-color: #081F3D;
}

.contact h2 {
    font-size: 3em;
    font-weight: 300;
    color: #88F8BE;
}


.form {
    display: flex;
    justify-content: end;
}

.form-fitting {
    width: fit-content;
}

.contact-info {
    display: flex;
    align-items: center;
    
}

.contact-info i {
    color: #88F8BE;
    margin-right: 1em;
}

input, textarea {
    padding: .75em;
    margin-bottom: 1em;
    width: 22.5em;
    border: 0;
 }

 input {
    background-color: #081F3D;
    border-bottom: 1px solid #fff;
 }
 
 textarea {
    min-height: 9.375em;
 }

 .form-button {
    background-color: #01132C;
    color: #fff;
    border: 0;
    width: fit-content;
    font-size: 1.2em;
    padding: 0.7em;
    margin-top: 0.5em;
 }


 form {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
 }



 label {
    display: block;
    margin-bottom: 1em;
    margin-top: 2em;
    width: fit-content;
 }